# Exclure le fichier de configuration principal de WordPress
wp-config.php

# Exclure les dossiers contenant des données sensibles ou inutiles
wp-content/uploads/
wp-content/cache/
wp-content/backup/
wp-content/advanced-cache.php
wp-content/upgrade/


/node_modules/
/vendor/

# Exclure les fichiers et dossiers de sauvegarde
*.sql
*.zip
*.tar.gz
*.bak
*.log
*.bak
debug.log
*.tmp


# Garder uniquement les plugins/thèmes en développement
!wp-content/plugins/my-custom-plugin/
!wp-content/themes/my-custom-theme/

# Ignorer les fichiers système
.DS_Store
Thumbs.db

# Ignorer les dossiers des IDE
.vscode/
.idea/

# Ignorer les fichiers générés par Composer ou Node.js (si utilisés)
vendor/
node_modules/
